body {
    font-family: Sans, sans-serif;
  }

/* Стили для шапки */
header {
    background-color: #7b0000;
    color: #cdcdcd;
    text-align: center;
    padding: 20px;
}

/* Стили для меню */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline  ;
    margin-right: 20px;
}



.carousel-container {
    max-width: 80%; /* Уменьшает ширину слайд-шоу до 80% ширины родительского элемента */
    margin: auto; /* Центрирует слайд-шоу по горизонтали */
}

.carousel-item {
    height: 40vh; /* Уменьшает высоту слайд-шоу до 30% высоты видимой области (viewport height) */
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-item img {
    object-fit: contain;
}

.carousel-control-prev-icon, 
.carousel-control-next-icon {
        background-color: black;
}
.carousel-container {
    max-width: 60%; /* Уменьшает ширину карусели до 60% ширины родительского элемента */
    margin: auto; /* Центрирует карусель по горизонтали */
}



/* Стили для подвала */
footer {
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/*список в шапке*/
nav ul li a {
    text-decoration: none;
    color: #7b0000; 
}

nav ul li {
    margin-right: 10px; /*  отступ */
    display: inline-block;
    border-right: 1px solid #ccc; /* черта */
    padding-right: 10px; /*  отступ справа */
}

.uslugaimg {
    
    border-radius: 4px;
    padding: 5px;
    width: 180px;
}

.catalog-container {
    display: flex;
}

